.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #b0c4de;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0%;
  margin: 0%;
}
.App-body{
  background-color: #b0c4de;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0%;
  margin: 0%;
  margin: 0;
  height: 92.5vh;
}