.App {
  text-align: center;
  width: 100%;
}
.App-header {
  background-color: #f7eedd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0%;
  margin: 0%;
}
.App-body{
  background-color: #f7eedd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0%;
  margin: 0%;
  margin: 0;
  width: 100%;
}