@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
        .font-style-title {font-family:'League Spartan', sans-serif !important; } 
        .font-style-subtitle {font-family: 'League Spartan', sans-serif !important; } 
        .font-style-heading {font-family: 'League Spartan', sans-serif !important; } 
        .font-style-normalText {font-family: 'League Spartan', sans-serif !important; }
*{
    background-color: #f7eedd;
}
body{
    padding: 0;
    margin: 0%;
    font-family: League Spartan;
}
h1{
    font-size: 80px;
    color: #008dda;
    text-align: center;
}
    h2{
        font-size: 80px;
        color: #008dda;
        text-align: center;
}
p{
    font-size: 25px;
    color: black;
    
}
.principal{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.contenedor{
    width: 45%;
    display: flex;
    justify-content: space-around ;
}
.barra{
    border: 0;
    background-color: #b0c4de;
    color: white;
    font-size: 35px;
    padding: 15px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}


.centro{
    vertical-align: middle ;
}

.central{
    display: flex;
    justify-content:space-around;
    padding: 0;
}
.central div {
    flex: 1;
}
.botonesp{
    width: 40%;
    background-color: #7c97cb;
    border: 0;
    padding: 25px;
    color:#efb062;
    border-radius: 100px;
    font-size: 25px;
}
input.botonesp::placeholder{
    color:#efb062;
    font-family: League Spartan;
    text-align: center;
}
.botonesS{
    width: 50%;
    background-color:#efb062;
    border: 0;
    padding: 30px;
    color:#7c97cb;
    font-family: League Spartan;
    border-radius: 100px;
    font-size: 25px;
    cursor: pointer;
}
.botonesS:hover{
    background-color: #7c97cb;
    color:#efb062;
}
h5{
    font-size: 20px;
    text-align: center;
}
.imagen{
    vertical-align: middle;
    align-items: center;
}